/Chrisp/lib/EmbLib/build/
/Chrisp/lib/EmbLib/dist/
/TraeR/dist/
/Chrisp/Tests/EmbLibTest/build/
/Chrisp/Tests/EmbLibTest/dist/
/Chrisp/Tests/EmbLibTest/nbproject/private/
/Chrisp/Tests/StitchFillTest/nbproject/private/
/Chrisp/Tests/StitchFillTest/dist/
/Chrisp/Tests/StitchFillTest/build/
*.doc#
/Embroid-It/Embroid-It/nbproject/private/
/Embroid-It/Embroid-It/dist/
/Embroid-It/Embroid-It/build/